<div class="container">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Paiementd</mat-card-title>
          <mat-card-subtitle>Liste des paiements</mat-card-subtitle>
      </mat-card-header>
      <br>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rem minus similique fugit itaque? Enim debitis doloremque rem corporis tenetur. Deleniti ut accusantium, atque consectetur esse aspernatur ipsa odio eos?
Voluptatem excepturi consectetur molestias iure, rerum repellendus natus expedita quaerat alias similique possimus, itaque saepe at voluptate animi. Nemo sint incidunt ipsam fugit beatae tempore quam? Dolor perferendis cupiditate atque?
Fugit voluptas aliquid dicta quo vero similique distinctio exercitationem quis, ipsa, reiciendis voluptate necessitatibus veritatis amet id quae eligendi iste recusandae, quisquam aspernatur accusantium consectetur unde nesciunt doloremque nisi. Dolorum?
Perspiciatis, quae unde magni illo quis nemo consequatur voluptatibus voluptates deserunt aperiam obcaecati nobis, facilis ipsa qui maxime? Tempore ipsum error distinctio nostrum ullam quam ducimus eum harum ea perferendis?
Quaerat, quibusdam tempora debitis nam aliquam ratione sed, vero doloremque veniam distinctio labore! Placeat vitae veniam, architecto sint animi corrupti et fugiat deleniti enim alias voluptatem optio necessitatibus ea error!
      </mat-card-content>
      <br>
      <mat-card-footer>
      </mat-card-footer>
  </mat-card>
</div>